
.vs/InformatikaVezbanje/xs/project-cache/InformatikaVezbanje-Debug.json

.vs/InformatikaVezbanje/xs/sqlite3/db.lock

.vs/InformatikaVezbanje/xs/sqlite3/storage.ide

.vs/InformatikaVezbanje/xs/sqlite3/storage.ide-shm

.vs/InformatikaVezbanje/xs/sqlite3/storage.ide-wal

.vs/InformatikaVezbanje/xs/UserPrefs.xml

bin/Debug/netcoreapp3.0/InformatikaVezbanje

bin/Debug/netcoreapp3.0/InformatikaVezbanje.deps.json

bin/Debug/netcoreapp3.0/InformatikaVezbanje.dll

bin/Debug/netcoreapp3.0/InformatikaVezbanje.pdb

bin/Debug/netcoreapp3.0/InformatikaVezbanje.runtimeconfig.dev.json

bin/Debug/netcoreapp3.0/InformatikaVezbanje.runtimeconfig.json

InformatikaVezbanje.sln

obj/Debug/netcoreapp3.0/InformatikaVezbanje

obj/Debug/netcoreapp3.0/InformatikaVezbanje.AssemblyInfo.cs

obj/Debug/netcoreapp3.0/InformatikaVezbanje.AssemblyInfoInputs.cache

obj/Debug/netcoreapp3.0/InformatikaVezbanje.assets.cache

obj/Debug/netcoreapp3.0/InformatikaVezbanje.csproj.FileListAbsolute.txt

obj/Debug/netcoreapp3.0/InformatikaVezbanje.csprojAssemblyReference.cache

obj/Debug/netcoreapp3.0/InformatikaVezbanje.dll

obj/Debug/netcoreapp3.0/InformatikaVezbanje.pdb

obj/InformatikaVezbanje.csproj.nuget.cache

obj/InformatikaVezbanje.csproj.nuget.dgspec.json

obj/InformatikaVezbanje.csproj.nuget.g.props

obj/InformatikaVezbanje.csproj.nuget.g.targets

obj/project.assets.json

.vs/InformatikaVezbanje/v16/Server/sqlite3/db.lock

.vs/InformatikaVezbanje/v16/Server/sqlite3/storage.ide

.vs/InformatikaVezbanje/v16/Server/sqlite3/storage.ide-shm

.vs/InformatikaVezbanje/v16/Server/sqlite3/storage.ide-wal

bin/Debug/netcoreapp3.0/InformatikaVezbanje.exe

obj/Debug/netcoreapp3.0/InformatikaVezbanje.exe
